@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
}

body{
    background-color: rgba(168, 179, 71, 0.637);
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    
}
.container{
    background-color: white;
    margin: 0 auto;
    max-width: 800px;
    height: auto;
    min-height: 100vh;
}

.houver > a{
  background-color: ;
  color: white;
    
}

h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}

.center{
    color: white;
    text-align: center;
    font-weight: bold;
    text-shadow: -1px -1px black ;
}


header{
    background-color: rgba(5, 36, 5, 0.753);
    padding: 25px;
    margin: 0px auto 0 auto;
    
   
}

header > h1{
    padding: 0px;
    margin: 3px;

}

header > p{
    padding: 0px;
    margin: 25px;
    text-align: 10px;
    
}

nav{
    margin: 0px 0px -10px -20px;
    padding: 0px;
    box-shadow: opx 7px 7px rgba(0, 0, 0, 0.589);
}

nav > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0px 8px;   
}

nav > a:hover{
    background-color: rgba(180, 226, 180, 0.185);
    padding: 10px;
    border-radius: 7px;
}



main{
   background-color: white;
   padding: 10px;
   margin: 0px;
   border-radius: 0px 0px 10px 10px;
}

h2{
    font-family: 'idroid', sans-serif;
    color: rgb(22, 88, 16);
}

p{
    text-decoration: none;
    text-indent: 30px;
    font-weight: 6em;
    text-align: justify;
    
}

div.video{
    background-color: rgba(29, 83, 29, 0.685);
    margin-bottom: 30px;
    margin: 0px -10px 30px -10px;
    padding: 20px;
    border-radius: 0px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

h3{
    font-family: 'idroid', sans-serif;
    background-color: rgba(221, 238, 221, 0.274);
    color: green;
    
}

.centro{
    text-align: center;
    display: block;
    margin: auto;   
}

.divv{
    background-color: green;
    padding: 10px;
    margin: 1px;
    border-radius: 10px 10px 0px 0px;
    
}

div{
    background-color: rgba(182, 231, 182, 0.61);
    border-radius: 10px;
    text-align: justify;
    
}

ul{
    font-weight: bold;
    text-decoration: none;
    list-style-type: none;
}

.lista{
    /*Display: Flex é igual ao columns 2*/
    display: flex;
    columns: 2;
    gap: 40px;
    padding-left: 10px;
}

.lista > ul{
    margin: 0px;
    padding: 0px;

}

.lado{
   padding-left: 10px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;

}

footer > p{
    margin: 0px;
}
